
br\.org\.cursomde\.exemplo1\.ui\.tests/\.settings/

br\.org\.cursomde\.exemplo1\.ui/\.settings/

br\.org\.cursomde\.exemplo1\.tests/\.settings/

br\.org\.cursomde\.exemplo1\.ide/\.settings/

br\.org\.cursomde\.exemplo1\.generator/\.settings/

br\.org\.cursomde\.exemplo1/\.settings/

br\.org\.cursomde\.exemplo1/\.launch/

br\.org\.cursomde\.exemplo5/\.settings/

br\.org\.cursomde\.exemplo2\.generator/\.settings/

br\.org\.cursomde\.exemplo4/\.settings/

br\.org\.cursomde\.exemplo3/\.settings/
